<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Myapp" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="wrapper">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>             
 
 <!-- footer using navbar method at the bottom -->
   <div class = "navbar navbar-inverse navbar-fixed-bottom">
 
     <div class = "container">
       <p class = "navbar-text navbar-left"> Hohn &amp; Company, LLC</p>

       <p class = "navbar-text navbar-right"> Copyright &copy; 2008-2015 </p>
       <p class = "navbar-text navbar-right">email: inquiries@hohnco.com </p>
      
     </div>
 
   </div>
 
 </div><!-- #wrapper -->
 
 </body>
 
</html>
  
